$black: #000;

$white: #fff;
$white2: #fafaf8;
$white3: #f9fafb;
$white4: #f0f1f3;
$white5: #f8f9fa;
$white6: #eee;

$green1: #41dd8c;
$green2: #73e5aeb3;

$orange1: #2e2d2c;
$orange2: #2b2a29;

$pink1: #e54dc0;

$blue1: #1d1d72;
$blue2: #4b4bbc;
$blue3: #191970;
$blue4: #393988;

$gray0: #f1f2f4;
$gray1: #7c7c7c;
$gray2: #96999c;
$gray3: #f3f3f3;
$gray4: #dfdfdf;
$gray5: #e5e5e5;
$gray6: #f1f2f4;

$red: #ff0000;

$xsmalFontSize: 10px;
$tabCountFontSize: 11px;
$smallFontSize: 12px;
$commonFontSize: 14px;
$mediumFontSize: 16px;
$largeFontSize: 20px;
$xlargeFontSize: 24px;
$xxlargeFontSize: 28px;
$xxxlargeFontSize: 30px;
$headerFontSize: 40px;
$smallHeaderFontSize: 156px;
$mediumHeaderFontSize: 160px;
$largeHeaderFontSize: 180px;

$thinFont: 300;
$normalFont: 400;
$mediumFont: 500;
$semiBoldFont: 600;
$boldFont: 700;
